@charset "UTF-8";
/*---------------------------------------H1 INDEX*/
.contenedorTitulo {
  display: flex;
  justify-content: center;
  align-items: center; }

/*--------------------------------------NAVBAR*/
.bg-nav {
  background-color: blue; }

.active {
  background-color: #0000b3;
  border-radius: 5px; }

.navbar-nav {
  margin-left: auto; }

.nav-link {
  color: #ffffe6 !important; }

/*--------------------------------------FORMULARIO CONTACTO*/
/*--------------------------------------GRILLA FOTOS*/
.img-container  {
  padding: 20px; }
  .img-container  img {
    /*display: block;*/
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .img-container  .row {
    margin: 15px;
    justify-content: center; }
  .img-container  h2 {
    font-size: 10px !important; }

/*--------------------------------------CONSEJOS */
#consejosImg  {
  width: 100%;
  object-fit: cover; }

/*--------------------------------------FOOTER */
.footer {
  background-color: #b30000; }
  .footer span {
    color: #ffffe6; }
