$crudo: #ffffe6;
$red: #b30000;
$darkblue: #0000b3;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


/*---------------------------------------H1 INDEX*/

.contenedorTitulo {
	display: flex;
	justify-content: center;
	align-items: center;

}

/*--------------------------------------NAVBAR*/
.bg-nav {
	background-color: blue;
}
.active {
	background-color: $darkblue;
	border-radius: 5px;
}

.navbar-nav {
	margin-left: auto;
}

.nav-link {
	color: $crudo !important;
} 

/*--------------------------------------FORMULARIO CONTACTO*/


/*--------------------------------------GRILLA FOTOS*/
.img-container {
padding: 20px;

	img{
	/*display: block;*/
	display: flex;
	width: 100%;
	height: 100%;
	object-fit:cover;
	}
	.row {
  margin: 15px;
  justify-content: center;
	}
	h2 {
		font-size: 10px !important;
	}
}
/*--------------------------------------CONSEJOS */

#consejosImg {
	width: 100%;
	object-fit: cover;
}


/*--------------------------------------FOOTER */
.footer {
	background-color: $red;
span{
	color: $crudo;}
}