$crudo: #ffffe6;
$red: #b30000;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


/*---------------------------------------H1 INDEX*/

.contenedorTitulo {
	display: flex;
	justify-content: center;
	align-items: center;

}

/*--------------------------------------NAVBAR*/
.bg-nav {
	background-color: blue;
}


.navbar-nav {
	margin-left: auto;
}

.nav-link {
	color: $crudo !important;
} 

/*--------------------------------------FORMULARIO CONTACTO*/


/*--------------------------------------GRILLA FOTOS*/

.gridFotos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 5px 5px;
	/*grid-template-areas: 
	"ramosNovia ramosNovia ramosNovia"
	"centrosMesa centrosMesa centrosMesa"
	"instalacion instalacion instalacion";*/
img {
	height: auto;
	width: 100%;
	object-fit: cover;}
}
/*--------------------------------------CONSEJOS */

#consejosImg {
	width: 100%;
	object-fit: cover;
}


/*--------------------------------------FOOTER */
.footer {
	background-color: $red;
span{
	color: $crudo;}
}